[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

keras = "*"
recurrentshop = {git = "https://www.github.com/datalogai/recurrentshop.git"}
"seq2seq" = {git = "https://github.com/farizrahman4u/seq2seq.git"}
ipython = "*"
notebook = "*"
jupyterlab = "*"
"e1839a8" = {path = ".", editable = true}
pytest = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
cython = "*"
pycryptodomex = "*"
pyfnr = {git = "https://github.com/laciKE/pyFNR"}
"h5py" = "*"
jupyter = "*"
jupyterlab-launcher = "*"
pandas = "*"
unidecode = "*"
flask = "*"
tensorflow = "*"
flask-cors = "*"
pyopenssl = "*"
gunicorn = "*"


[requires]

python_version = "3.5"
